@import "compass/css3/transition";
@import "compass/css3/user-interface";
@import "compass/css3/appearance";

// ============
// TEXT BOX
// ============

.txt {
    text-align:left;
	color: #444444;
    padding: 8px;
    padding-left: 12px;
    border-style: none;
    box-sizing: border-box;

    @include span(12);
    @include s-text;
    @include rounded-corners(3px);

    // phone
    height: 35px;

    // tablet
    @include breakpoint($mediumResolution){
        height: 35px;
    }

    // desktop
    @include breakpoint($bigResolution){
        height: 35px;
    }
}

.txt::-webkit-input-placeholder {
    color: #CCCCCC;
    font-weight: $regularFont;
}

.txt:-moz-placeholder {
    color: #CCCCCC;
    font-weight: $regularFont;
}

.txt::-moz-placeholder {
    color: #CCCCCC;
    font-weight: $regularFont;
}

.txt:-ms-input-placeholder {
    color: #CCCCCC;
    font-weight: $regularFont;
}


section.Form{
    position:relative;border:0px;width:96%;float:none;clear:both;border-top:1px solid $metalE_color;margin:auto;padding:20px 0px;
    &:first-child {
        padding:0px;
        border:0px;
        @include breakpoint($mediumResolution){
            padding-left:215px;

        }
    }

    @include breakpoint($mediumResolution){
        float:left;width:96%;padding-left:215px;
    }
    
    @include breakpoint($highResolution){
        max-width:100%;
    }
    
    div {
        &.TitleSection {
            display:flex;width:100%;position:relative;margin:0px 0px 20px;
            @include vertical-center-text;

            @include breakpoint($mediumResolution){
                width:210px;position:absolute;left:0px;float:left;margin-bottom:0px;
                br {display:block}
            }

            img {width:60px;height:60px;float:left}
            h2 {margin:0px 0px 0px 5px}
            span {display:block;font-size:10px;}
        }

    }

    fieldset{width:100%;position:relative;
        > div {margin-bottom:20px;
            > p.TextHelp {
                clear:both;color:$metalD_color;margin-top:10px;
                @include breakpoint($mediumResolution){
                    position:absolute;left:-210px;top:0px;width:192px;
                }
            }
        }
    }

    label {display:block;font-size:$fontSizeXS;background:$metalF_color;padding:3px 3px 5px 10px;font-weight:bold;}
    input {display:block;background:$color6;font-size:$fontSizeS;width:100%;padding:10px 10px;border:0px}
    input:disabled  {}
    .InputError {font-size:12px;font-weight:bold;color:#EB6D57;padding:7px 0px 0px 3px}


    .Direction {
        width:100%;
        @include breakpoint($mediumResolution){
            width:76%;float:left;
        }
    }
    .CP {
        width:100%;
        @include breakpoint($mediumResolution){
            width:22%;float:right;
        }
    }
    .twoColums {
        width:100%;
        @include breakpoint($mediumResolution){
            width:49%;float:left;margin-right:2%
        }
    }
    :nth-child(odd){
        clear:both;
    }
    .twoColums:nth-child(even) {
        width:100%;
        @include breakpoint($mediumResolution){
            width:49%;float:left;margin-right:0%
        }
    }
    .classyedit {background:$color6;}
    .InputSwich {
        label {background:transparent;font-weight: normal;font-size:$fontSizeS;display:flex;padding-top:10px;
            input[type=checkbox] {
                width:74px;min-width:74px;height:40px;position:relative;display:inline;vertical-align:top;margin-right:10px;
                @include breakpoint($mediumResolution){
                    margin-top:-10px;
                }
                &:before {content:'No';padding-left:16px;text-align:left;line-height:40px;background:#fff;position:absolute;top:0px;left:0px;bottom:0px;right:0px;border-radius:35px;border:1px solid #ccc;}
                &:after {content:'';background:#EF6E59;position:absolute;top:13px;left:auto;right:13px;border-radius:50%;width:15px;height:15px;}
                &:checked:before {content:'Si';padding-right:25px;text-align:right;line-height:40px;background:#fff;position:absolute;right:auto;top:0px;left:0px;bottom:0px;right:0px;border-radius:35px;border:1px solid #ccc;}
                &:checked:after {content:'';background:#6BBDC3;position:absolute;top:13px;left:13px;border-radius:50%;width:15px;height:15px;}
            }
        }

    }

}

.Buttons {
    text-align:center;width:96%;margin:auto;

    @include breakpoint($mediumResolution){
        text-align:right;
        margin:0px;
    }
    @include breakpoint($highResolution){
        max-width:96%;
    }

    button {margin-right:10px;max-width:45%}
    button:last-child {margin-right:0px;}
}


.AddImages {
    div {width:inherit;}
    div.uploaderPhotos {
        width:100%;
        position:relative;
        min-height:75px;
        padding:0px;
        
        .dropDisplayPhotos {
            width:100%;
            padding:0px;
            border:0px;

            .displayPhotos {
                padding-right:0px;
                min-height:70px;
                h3 {
                    font-weight: normal;color: #6D6862;padding: 16px 10px;
                    font-size:$fontSizeXL;
                    @include breakpoint($mediumResolution){
                        font-size:$fontSizeLogo;
                    }
                }
                ul {margin:auto;width:100%;}
                .product_photo_list li:first-child {
                    border:0px;
                    margin:5px !Important;
                }

            }

            .product_photo {
                position:relative;
                border:solid 1px #DDDDDD;
                text-align:center;
                overflow:visible;
                background-color:white;
                cursor:move;
            
                // phone
                width:auto;
                height:90px;
            
                // tablet
                @include breakpoint($mediumResolution){
                    width:auto;
                    height:90px;
                }
            
                // desktop
                @include breakpoint($bigResolution){
                    width:auto;
                    height:90px;
                }
                                

                .product_photo_actions{
                    position:absolute;
                    width:100%;
                    height:100%;
                    z-index:10;
                    right: -28px;
                }
                
                .product_photo_delete{
                    position:absolute;
                    width:25px;
                    height:25px;
                    right:1;
                    bottom:1;
                    cursor:pointer;
                }
                
                .product_photo_action_background{
                    position:absolute;
                    width:100%;
                    height:100%;
                
                    background-color: black;
                    filter: alpha(opacity=50);
                    opacity: 0.5;
                }
                
                #box:hover > #content {
                    height: 20px;
                }
                
                .product_photo_list li .product_photo_delete{
                    // phone
                    opacity: 1;
                
                    // tablet
                    @include breakpoint($mediumResolution){
                        opacity: 100;
                    }
                
                    // desktop
                    @include breakpoint($bigResolution){
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                        -moz-transition: opacity .3s ease-in-out;
                        -webkit-transition: opacity .3s ease-in-out;
                    }
                
                
                }
                
                .product_photo_list li:hover .product_photo_delete{
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
                    -moz-transition: opacity .3s ease-in-out;
                    -webkit-transition: opacity .3s ease-in-out;
                }
                
                .ico_delete{
                    position:absolute;
                    width:15px;
                    height:15px;
                    z-index:10;
                
                    margin-top:5px;
                    margin-left:5px;
                }

            }
            
        }
        input[type='file'] {display:none}
        
        .photoActions{
            width:100%;
            min-height:40px;
            padding-top:20px;
            padding-bottom:20px;
            text-align:center;
            background: #F4F1EA;

            .boxUpload {
                width:100%;
                margin:auto;
                font-size:$fontSizeXS;
                img {margin-bottom:5px;}
                button {min-width:215px}
                span {display:inline-block;width:40px;height:40px;background: url('../images/updoadfile_01.svg');background-size:contain;cursor:pointer}
                span:hover {background: url('../images/updoadfile_02.svg')}
            }
            
            
        }
    }
    
 
}



.product_form_photos_content {
    position:relative;
    min-height:75px;
    z-index:666;

    // phone
    border: none;
    padding-top:10px;

    // tablet
    @include breakpoint($mediumResolution){
        border: dashed 2px $metalF_color;
        padding-top:0px;
    }

    // desktop
    @include breakpoint($bigResolution){
        border: dashed 2px $metalF_color;
        padding-top:0px;
    }
}

.product_form_photos_hover {
    border: dashed 2px $aquaF_color;
}

.images_loading{
    text-align:center;
    margin-bottom:10px;

    @include span(12);
}

.product_form_photos_alert{
    display:none;

    height:26px;
    text-align:center;
    margin:10 10px 0 10px;
    background-color:$honeyF_color;
    font-weight:bold;
    justify-content: center;
    padding-top:5px;
    //-webkit-justify-content: center;

    @include s-text;
    //@include vertical-center-text;
}

.product_form_product_name {
    height:35px;
}

.product_form_product_description {
    min-height:155px;
}

.product_form_categories {
    min-height:30px;
    padding:10px;
    overflow:hidden;
}  

.product_photo_list li:first-child {
    border:solid 2px $aquaD_color;
    margin:5px !Important;
}

.product_photo_list li{
    float:left;
    margin:7px;
}

.product_photo img {
  position: relative;
  width: auto;

  // phone
  height:105px;

  // tablet
  @include breakpoint($mediumResolution){
      height:80px;
  }

  // desktop
  @include breakpoint($bigResolution){
      height:80px;
  }
}


.product_photo img.product_photo_img {
    width: auto;
    height:100%;
}

#upload {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}



// ============
// SWITCH
// ============

@mixin hide-text{
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin show-text{
  @include xs-text;
  text-indent: inherit;
  white-space: normal;
  overflow: visible;
}

.btn-switch {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.btn-switch .switch {
  display: block;
  position: relative;
  width: 5em;
  height: 26px;
  margin: 0;
  padding: 3px;
  border-radius: 2em;
  outline: 10;
  cursor: pointer;
  background: white;
  color: $metalB_color;
  border:solid 2px $metalF_color;
  @include transition(all 0.4s ease);

  &:after, &:before {
    position: relative;
    display: block;
    content: "";
    margin-top:1px;
    margin-left:2px;
    margin-right:2px;
    width: 25px;
    height: 25px;
  }

  &:after {
    left: 0;
    border-radius: 27px;
    background: $aquaD_color;
    @include transition(all 0.2s ease);
  }

  &:before {
    display: none;
  }
}

[class*="switch-label"] {
    position: absolute;
    display: inline-block;
    line-height: 2.2;
    @include user-select(none);
}

.switch-label-default {
  right: 9px;
  top:5px;
  @include show-text;
}

.switch-label-checked {
  left: 9px;
  top:5px;
  @include hide-text;
}

.input-switch {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

&:checked + .switch:after  {
    background: $cherryD_color;

    &:after {
      left: 60%;
    }

    .switch-label-default {
      @include hide-text;
    }

    .switch-label-checked {
      right: .5em;
      @include show-text;
    }
  }

  &:checked + .switch  {
    background: white;

    &:after {
      left: 60%;
    }

    .switch-label-default {
      @include hide-text;
    }

    .switch-label-checked {
      right: .5em;
      @include show-text;
    }
  }
}



// ============
// CHECKBOX
// ============
.chkbox{
    position:relative;
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:6px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.chkbox:before {
    position:absolute;
    top:-1;
    left:-1;
    display:inline-block;
    content: url("/images/forms/unchecked.png");
    display:inline-block;
    width:30px;
    height:20px;
}

.chkbox:checked:before{
    display:inline-block;
    content: url("/assets/images/forms/checked.png");
}



// ============
// FORM
// ============

.form_block{
    overflow: auto;
    width:100%;

    // phone
    margin-bottom:0px;
    margin-top:0px;

    // tablet
    @include breakpoint($mediumResolution){
        margin-bottom:20px;
        margin-top:20px;
    }

    // desktop
    @include breakpoint($bigResolution){
        margin-bottom:20px;
        margin-top:20px;
    }
}

.form_data_item{
    overflow:hidden;

    // phone
    margin-bottom:10px;

    // tablet
    @include breakpoint($mediumResolution){

    }

    // desktop
    @include breakpoint($bigResolution){

    }
}

.form_tip{
    float:left;
    width:200px;
    padding-right:40px;
    line-height:15px;
    margin-bottom: 10px;

    @include  s-text;

    // phone
    display:none;

    // tablet
    @include breakpoint($mediumResolution){
        display:block;
    }

    // desktop
    @include breakpoint($bigResolution){
        display:block;
    }
}

.form_data{
    position:relative;
    overflow: auto;

    // phone
    margin-left:10px;
    margin-right:10px;

    // tablet
    @include breakpoint($mediumResolution){
        margin-right:40px;
    }

    // desktop
    @include breakpoint($bigResolution){
        margin-right:40px;
    }
}

.form_tip_title{
    font-weight:bold;
    margin-bottom:5px;
    color:$metalB_color;
}

.form_tip_description{
    color:$metalC_color;
}

.form_data_title{
    text-align:left;
    display: block;
    padding-top:3px;
    padding-left:10px;
    background-color:$metalF_color;
    height:20px;

    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;

    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;

    @include  xs-text;
}

.form_data_optional{
    color: #9E9E9E;

    @include  xs-text;
}

.form_data_content{
    display: block;
    background-color:white;

    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}

.product_form_content_standard {
    min-height:35px;
    margin-bottom:10px;
}

.form_data_group {
    //margin-left:220px;
}

.product_form_hr{
    margin-right:40px;
    height:1px;
    border:0px;
    border-top:1px solid $metalF_color;

    // phone
    display:none;

    // tablet
    @include breakpoint($mediumResolution){
        display:block;
    }

    // desktop
    @include breakpoint($bigResolution){
        display:block;
    }
}

label.error{
    position:relative;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    color:$cherryD_color;
    font-weight:bold;

    @include  s-text;
}

input.error{
    color:$cherryD_color;
}



// ========================
// DROPDOWN / CUSTOM SELECT
// ========================

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// input styling
.container {
  //width: 100%;
  background-color:white;
  border:solid 1px $metalF_color;

  ul {
    list-style-type: none;
    font-size: 0;
    display: none;
    text-transform: none;
    li {
      font-size: 1rem;
      display: block;
      padding: 20px;
      color: $metalB_color;
      background-color: white;
      border-bottom:solid 1px $metalF_color;
      &:hover {
        cursor: pointer;
        background-color: lighten($aquaF_color, 10%);

        -webkit-transition: background-color 300ms linear;
        -moz-transition: background-color 300ms linear;
        -o-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        transition: background-color 300ms linear;
      }
    }

    li:last-child{
        border-bottom:0;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  input[type="checkbox"]:checked ~ #menu_devices_label #box_device_arrow {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);

      margin-top:3px;
  }

  input[type="checkbox"]:checked ~ #menu_ads_label #box_ad_arrow {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);

      margin-top:3px;
  }

   /*input[type="checkbox"]:checked + label {
     background-color: darken($blue, 3%);
   }*/

  label {
    display: block;
    width: 100%;
    padding: 20px;
    color: $metalB_color;
    background-color: $metalF_color;
    font-weight:bold;

    @include xs-text;

    &:hover {
      cursor: pointer;
    }

    .menu-icon {
      float: right;
      font-size: 1.2rem;
    }
  }
}

.filter_ad_selected{
    background-color: lighten($aquaF_color, 10%);
}

.FormError{
    display:none;
    width:100%;
    padding-bottom:12px;
    text-align:left;
    font-weight:$boldFont;
    color:$cherryD_color;

    @include xs-text;

    // pone
    margin-top:10px;

    // tablet
    @include breakpoint($mediumResolution){
        margin-top:0px;
    }

    // desktop
    @include breakpoint($bigResolution){
        margin-top:0px;
    }
    &.Display {display:block}
    
    label.error {float:none}
}