
$smallResolution:325px;
$mediumResolution: 768px;
$bigResolution: 980px;
$highResolution: 1360px;

$maxWidth:1360px;

$primaryFont: "Open Sans",verdana,helvetica,sans-serif;
$fontSizeXS:10px;
$fontSizeS:12px;
$fontSizeM:14px;
$fontSizeL:16px;
$fontSizeXL:24px;
$fontSizeXXL:30px;
$fontSizeLogo:50px;

$lightFont: 300;
$regularFont: 400;
$boldFont: 700;


$color1:#443f3b;
$color2:#fff;   // not used
$color3:#ffffff;

$primaryColor:$color1;
$secondaryColor:$color2; // not used






