// ============
// MIXINS
// ============


// ============
// TYPOGRAPHY
// ============

@mixin xs-text {
    font-family:$primaryFont;
    font-size: 11px;
}

@mixin s-text {
    font-family:$primaryFont;
    font-size: 12px;
}

@mixin m-text {
    font-family:$primaryFont;
    font-size: 14px;
}

@mixin l-text {
    font-family:$primaryFont;
    font-size: 16px;
}

@mixin ml-text {
    font-family:$primaryFont;
    font-size: 18px;
}

@mixin xl-text {
    font-family:$primaryFont;
    font-size: 24px;
}

@mixin xxl-text {
    font-family:$primaryFont;
    font-size: 30px;
}

@mixin xxxl-text {
    font-family:$primaryFont;
    font-size: 40px;
}

// ============
// ROUNDED CORNERS
// ============

@mixin rounded-corners($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}


// ============
// TEXT
// ============

@mixin vertical-center-text(){
    //justify-content: center;

    -ms-display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}