// ============
// VARIABLES
// ============
$sidebarWidth: 215px;

// ============
// BREAKPOINTS
// ============

$smallResolution:325px;
$mediumResolution: 768px;
$bigResolution: 980px;
$highResolution: 1360px;

$maxWidth:1360px;

// ============
// TYPOGRAPHY
// ============

$primaryFont: 'Open Sans', sans-serif;
$fontSizeXS:10px;
$fontSizeS:12px;
$fontSizeM:12px;
$fontSizeL:10px;
$fontSizeXL:24px;
$fontSizeXXL:10px;
$fontSizeLogo:50px;



// ============
// TYPOGRAPHY WEIGHTS
// ============

$lightFont: 300;
$regularFont: 400;
$boldFont: 700;


// ============
// COLORS
// ============

// Base all colors
$color1:#443f3b;
$color2:#fff;   // not used
$color6:#ffffff;
$color7:#58B0B7;
$color8:#50959D;
$color9:#C5EDEF;

$primaryColor:$color1;
$secondaryColor:$color2; // not used
$sixColor:$color6;

// TextColors
$textColor1:$primaryColor;
$textColor6:$sixColor;

// Buttons
$buttonBackColor1:$color7;
$buttonBackColor1Hover:$color8;
$buttonBackColor1Disabled:$color9;


// Old colors
$metalB_color: #444444;
$metalC_color: #6D6862;
$metalD_color: #A49E93;
$metalE_color: #DBD5CA;
$metalF_color: #F4F1EA;

$cherryB_color: #B25042;
$cherryC_color: #D55745;
$cherryD_color: #EB6D57;
$cherryE_color: #FC9381;
$cherryF_color: #F9C5B3;

$honeyB_color: #CEA236;
$honeyC_color: #E7BA38;
$honeyD_color: #F6CA3B;
$honeyE_color: #FFE376;
$honeyF_color: #FEF1A5;

$aquaB_color: #488498;
$aquaC_color: #35AAAF;
$aquaD_color: #6FBDC4;
$aquaE_color: #90D6D6;
$aquaF_color: #D1F0F2;

$sheetB_color: #6B962D;
$sheetC_color: #8CB249;
$sheetD_color: #ABC969;
$sheetE_color: #C4D88B;
$sheetF_color: #E0EDB0;

$peachB_color: #E35614;
$peachC_color: #F49443;
$peachD_color: #F9B35A;
$peachE_color: #FCC880;
$peachF_color: #FEDAA6;



$backgroundColor:#F9F8F1;

/* Colors by desing preferences */

$color6:#fff;





